<nav id="site-menu">
    <div class="mobile-menu">
        <div class="toggle-nav">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="title">
            {{blog.title}}
            {{{blog.title}}}
        </div>
    </div>
    <menu>
        <li class='nav-btn sort-btn' id='gallery'><a href='#'><i class="fa fa-paint-brush"></i><span> Portfolio</span></a></li>
        <li class='nav-btn sort-btn' id='blog'><a href='#'><i class="fa fa-book"></i><span> Blog</span></a></li>
        <li class='nav-btn about-btn' id="about"><a href='/author/tim/'><i class="fa fa-user"></i><span> Over Mij</span></a></li>
        <li class='last toggle-comment'><a href='#'><i class="fa fa-comment"></i><span> Comments</span></a></li>
    </menu>
</nav>